* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial sans-serif;
    width: 100%;
    font-size: 16px;
    color: #222d32;
    background-color: #f5f8fa;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input {
    height: 30px;
    padding: 5px;
    outline: none;
    border: 1px solid #A9A9A9;
}

h1 {
    margin: 0 0 .67em 0;
}

p {
    margin: 0 0 1em 0;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn {
    display: table;
    text-decoration: none;
    color: #fff;
    border: none;
    outline: none;
    line-height: 35px;
    padding: 0 11px;
    cursor: pointer;
    background-color: #0275d8;
    border-color: #0275d8;
    transition: all .3s ease;
}

.btn:hover {
    background-color: #025aa5;
    border-color: #01549b;
}

.btn.danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn.danger:hover {
    background-color: #c9302c;
    border-color: #c12e2a;
}

.btn.success {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn.success:hover {
    background-color: #449d44;
    border-color: #419641;
}

.btn.info {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn.info:hover {
    background-color: #31b0d5;
    border-color: #2aabd2;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999;
    opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #999;
    opacity: 1;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #999;
    opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #999;
    opacity: 1;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    opacity: 0;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    opacity: 0;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    opacity: 0;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    opacity: 0;
}

#app {
    display: grid;
    grid-gap: 0;
    grid-template-areas: "header" "main" "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    min-height: calc(100vh - 210px);
    margin: 20px 0;
    padding: 0 20px;
}

footer {
    padding: 20px;
    color: #fff;
    font-size: 14px;
    display: grid;
    align-content: center;
    justify-content: end;
    grid-area: footer;
    height: 120px;
    background: #1E1C1C;
    position: relative;
}